@keyframes mymove
  0%
    bottom: -100%
    opacity: 0
    height: 350px
  90%
    bottom: 50px
  100%
    bottom: 0
    height: 300px


.appMountPoint
  position: fixed
  width: 450px
  min-height: 300px
  bottom: 0
  right: 10px
  background-color: #F90
  padding: 20px
  display: none
  animation: mymove 0.5s linear forwards

  p
    color: #FFF

.active
  display: block
